
/* Overrides */
body { font-family: $bodyFont; color: $beigeGreen; font-size: $mediumFont; }
header, footer { @extend .background-darkGreen; }
footer { text-align: center; }
pre { @extend .green; border: none;}
h1, h2, h3, h4, h5 { font-family: $headFont; }
p { line-height: 2; }
input { color: $darkGreen2; }

nav.navbar
{
	margin-top: 25px;
	margin-bottom: 0;
	float: right;
	@include clearfix;
	
	ul
	{
		margin: 0;
		padding: 0;
		list-style: none;
		li 
		{
			display: inline-block;

			a
			{
				font-size: $largeFont;
				color: $beigeGreen;
				padding: 5px;
				border-radius: 14%;
				border: 2px solid transparent;
				text-decoration: none;

				&:hover 
				{
					text-decoration: none;
					color: $beigeGreen;
					border-color: $lightGreen;
					-webkit-transition: border-color 1s ease-out, color 1.5s ease-out;
					transition: border-color 1s ease-out, color 1.5s ease-out;
				}
				&.active
				{
					border-color: $lightGreen;
				}
			}
		}
	}
}

.background-darkGreen { background-color: $darkGreen; }
.font-green { color: $beigeGreen; }
.green { @extend .background-darkGreen; @extend .font-green;}
.background-desk 
{ 
	background-image: url('/images/desk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	min-height: 500px;
}

.info { padding-top: 20vh; }
ul.icons 
{ 
	list-style: none;
	margin-top: 10px;
	padding: 0;
	
	li
	{
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		
		a 
		{ 
			color: $beigeGreen;
			&:hover 
			{ 
				color: $lightGreen;
				-webkit-transition: color .75s ease-out;
				transition: color .75s ease-out;
			}
		}
	}
}

.pad { padding: 20px 0; }
.margin { margin-top: 30px; margin-bottom: 30px; }
.darkgreen2 { color: $darkGreen2; }
.link-button 
{ 
	border: 1px solid $darkGreen2; 
	padding: 10px; 
	border-radius: 4px; 
	text-decoration: none;
	font-size: $largeFont;
	&:hover 
	{ 
		text-decoration: none;
		background-color: $darkGreen2;
		color: $lightGreen;
		-webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
		transition: background-color 0.5s ease-out, color 0.5s ease-out;
	}
}

.contact 
{
	@extend .green;
	
	form
	{
		margin-bottom: 0;
		padding: 20px 0;
		width: 75%;
	}

	fieldset
	{
		padding: 20px;
		border: 2px groove $beigeGreen;
		float: none;
	}

	input, textarea
	{
		font-size: $mediumFont;
	}

	legend
	{
		@extend .font-green;
		width: initial;
		border-bottom: 0;
	}

	input[type="text"], input[type="email"], input[type="tel"], input[type="file"], textarea
	{
		background-color: $beigeGreen;
		border: 1px solid #e5e5e5;
		padding: 8px 10px;
		box-sizing: border-box;
		width: 100%;
		margin: 0 0 25px;
		color: black;
	}

	textarea
	{
		font: 100% Verdana, Helvetica, sans-serif;
		min-height: 100px;
		resize: vertical;
		white-space: pre-wrap;
	}

	input[type="submit"]
	{
		float: right;
		background-color: $lightGreen;
		padding: 10px 20px;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
}

.projects
{
	color: $darkGreen2;
	.background-blueGradient { background: linear-gradient(to bottom right, #95DAE7, #89B4CA, #437C9E); }
	.background-grayGradient { background: linear-gradient(to bottom, #F1F1F1 , #999999, #F1F1F1); }
	.background-lightBlue { background-color: $lightBlue; }
	.background-green { background-color: $green; }
	a { @extend .darkgreen2; }
}
