
/* Overrides */
body { font-family: $bodyFont; color: $beigeGreen; font-size: $mediumFont; }
footer { @extend .background-green; text-align: center; }
pre { @extend .background-green; border: none; color: $beigeGreen;}
h1, h2, h3, h4, h5 { font-family: $headFont; }

nav#navbar
{
	margin-top: 25px;
	float: right;
	@include clearfix;
	
	ul
	{
		margin: 0;
		padding: 0;
		list-style: none;
		li 
		{
			display: inline-block;

			a
			{
				font-size: $largeFont;
				color: $beigeGreen;
				padding: 5px;
				border-radius: 14%;
				border: 2px solid transparent;
				text-decoration: none;

				&:hover 
				{
					text-decoration: none;
					color: $beigeGreen;
					border-color: $lightGreen;
					-webkit-transition: border-color 1s ease-out, color 1.5s ease-out;
					transition: border-color 1s ease-out, color 1.5s ease-out;
				}
				&.active
				{
					border-color: $lightGreen;
				}
			}
		}
	}
}

.background-green { background-color: $darkGreen; }
.background-desk 
{ 
	background-image: url('/images/desk.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	min-height: 500px;
}

.info { padding-top: 20vh; }
ul.icons 
{ 
	list-style: none;
	margin-top: 20px;
	padding: 0;
	
	li
	{
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		
		a 
		{ 
			color: $beigeGreen;
			&:hover 
			{ 
				color: $lightGreen;
				-webkit-transition: color .75s ease-out;
				transition: color .75s ease-out;
			}
		}
	}
}

.pad { padding: 20px 0; }
.darkgreen2 { color: $darkGreen2; }