
.logo-image { width: 75px; }
.comp-image { max-width: 400px; width: 100%; border-radius: 4px; }
.project-image { max-width: 100%; border-radius: 4px; margin: 20px auto; border: 2px groove $darkGreen; }
.fa-heart { color: red; animation: heartbeat 1s infinite; }
.fa-tint { color: $lightBlue; animation: teardrop 2s infinite ease-out; }
.fa-cutlery { color: $silver; animation: tools 1s infinite;}

@keyframes heartbeat
{
  50% { transform: scale(1.2); }
}

@keyframes teardrop
{
  0% { transform: translateY(-5px); opacity: 0.1; }
  50% { opacity: 1; }
  100% { transform: translateY(10px); opacity: 0.1; }
}

@keyframes tools
{
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(-20deg); }
}