// Variables SCSS

@import "https://fonts.googleapis.com/css?family=Open+Sans|Patua+One";

// Font
$headFont : 'Patua One', sans-serif;
$bodyFont : 'Open Sans', sans-serif;

$largeFont  : 18px;
$mediumFont : 16px;
$smallFont  : 14px;

$beige      : #E3C691;
$beigeGreen : #DEE7C6;
$darkGreen  : #053B00;
$darkGreen2 : #01260C;
$green      : #19B76E;
$lightGreen : #28DC18;
$lightBlue  : #4DD0E1;
$silver     : #C0C0C0;
$chalkGray  : #515156;